/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* font used for text */
@font-face {
  font-family: bmwfont;
  src: url('../fonts/PragmaticaMedium.otf');
}

/* navbar stuff */
#navbar ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 35px;
  padding-bottom: 65px;
  background: rgb(61,61,61);
  background: linear-gradient(0deg, rgba(61,61,61,0) 0%, rgba(22,22,22,0.43461134453781514) 20%, rgba(0,0,0,0.7707457983193278) 100%);
}

#navbar li {
  display: inline;
}

#navbar a {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 30px;
}

/* Buttons for the header */

.button {
  background-color: Transparent;
  border: none;
  outline: none;
  color: #c9c9c9;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: bmwfont, sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px #000000;
  float: left;
}
.button:hover {
  color: white;
}

.logo1 {
  background: url('../images/logo2.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 50px;
  float: left;
  padding-bottom: 30px;
  margin-right: 20px;
}

.search {
  background-color: Transparent;
  border: none;
  outline: none;
  color: #c9c9c9;
  font-size: 18px;
  cursor: pointer;
  margin-right: 100px;
  float: right;
  transition-duration: 0.4s;
  font-family: bmwfont, sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px #000000;

}
.search:hover {
  color: white;
}

.search-box{
  position: absolute; right: 10px;
  background: #c9c9c9;
  border-radius: 25px;
  padding: 5px;
  float: right;
  margin-right: 50px;
}

.search-btn{
  width: 10px;
}

.search-txt{
  border:none;
  background: #c9c9c9;
  outline: none;
  float: left;
  width: 250px;
}

h1 {
  text-align: center;
  font-family: bmwfont, sans-serif;
  color: #c9c9c9;
  text-shadow: 1px 1px #000000;
  background-color:  rgb(6,61,32);
}

body {
  background: rgb(63,64,63);
  background: linear-gradient(90deg, rgba(63,64,63,1) 0%, rgba(9,9,8,1) 30%, rgba(9,9,8,1) 70%, rgba(63,64,63,1) 100%);
}

.carList {
  height: 1900px;
  background: rgb(63,64,63);
  background: linear-gradient(90deg, rgba(63,64,63,1) 0%, rgba(9,9,8,1) 30%, rgba(9,9,8,1) 70%, rgba(63,64,63,1) 100%);
}

.carIcon{
  width: 250px;
  height: 192px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  color: #c9c9c9;
  font-size: 24px;
  cursor: pointer;
  font-family: bmwfont, sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px black;
  padding-top: 160px;
  box-shadow: 5px 5px #000103;
  transition-duration: 0.4s;
}

.carIcon:hover{
  opacity: 0.6;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #c9c9c9;
}

.containerCar {
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 1500px;
  border-radius: 5px;
  position: relative; top: 100px;
  box-shadow: 10px 10px #000103;
  background: rgb(6,61,32);
  background: linear-gradient(180deg, rgba(6,61,32,1) 0%, rgba(3,32,17,1) 100%);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #c9c9c9;
}

.series3 {
  position: relative; top: 50px
}

.e30 {
  background: url('../images/e30iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.e21 {
  background: url('../images/e21iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.e36{
  background: url('../images/e36iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.series5 {
  position: relative; top: 100px
}

.e34 {
  background: url('../images/e34iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.e28 {
  background: url('../images/e28iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.e39{
  background: url('../images/e39iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.series6 {
  position: relative; top: 150px;
}

.e24{
  background: url('../images/e24iconsmall.jpg') no-repeat;
  margin-left: 625px;
}

.series7 {
  position: relative; top: 200px;
}

.e23 {
  background: url('../images/e23iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.e32 {
  background: url('../images/e32iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.e38 {
  background: url('../images/e38iconsmall.jpg') no-repeat;
  margin-left: 180px;
}

.series8 {
  position: relative; top: 250px;
}

.e31 {
  background: url('../images/e31iconsmall.jpg') no-repeat;
  margin-left: 625px;
}
